* {
    box-sizing: border-box;
  }

  .wrap {
    perspective-origin: 50% 50%;
  }
  

  .svg {
    stroke: #f1e1f3;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
  }
  
  .svg:nth-child(1) {
    left: 63%;
    -webkit-animation: raise1 10s linear infinite;
            animation: raise1 10s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(-0.3) rotate(184deg);
    z-index: -6;
    filter: blur(-5px);
  }
  @-webkit-keyframes raise1 {
    to {
      bottom: 150vh;
      transform: scale(-0.3) rotate(183deg);
    }
  }
  @keyframes raise1 {
    to {
      bottom: 150vh;
      transform: scale(-0.3) rotate(183deg);
    }
  }
  
  .svg:nth-child(2) {
    left: 66%;
    -webkit-animation: raise2 8s linear infinite;
            animation: raise2 8s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: scale(0) rotate(229deg);
    z-index: -5;
    filter: blur(-4px);
  }
  @-webkit-keyframes raise2 {
    to {
      bottom: 150vh;
      transform: scale(0) rotate(201deg);
    }
  }
  @keyframes raise2 {
    to {
      bottom: 150vh;
      transform: scale(0) rotate(201deg);
    }
  }
  
  .svg:nth-child(3) {
    left: 74%;
    -webkit-animation: raise3 18s linear infinite;
            animation: raise3 18s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(0.3) rotate(116deg);
    z-index: -4;
    filter: blur(-3px);
  }
  @-webkit-keyframes raise3 {
    to {
      bottom: 150vh;
      transform: scale(0.3) rotate(47deg);
    }
  }
  @keyframes raise3 {
    to {
      bottom: 150vh;
      transform: scale(0.3) rotate(47deg);
    }
  }
  
  .svg:nth-child(4) {
    left: -17%;
    -webkit-animation: raise4 16s linear infinite;
            animation: raise4 16s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    transform: scale(0.6) rotate(276deg);
    z-index: -3;
    filter: blur(-2px);
  }
  @-webkit-keyframes raise4 {
    to {
      bottom: 150vh;
      transform: scale(0.6) rotate(59deg);
    }
  }
  @keyframes raise4 {
    to {
      bottom: 150vh;
      transform: scale(0.6) rotate(59deg);
    }
  }
  
  .svg:nth-child(5) {
    left: -2%;
    -webkit-animation: raise5 19s linear infinite;
            animation: raise5 19s linear infinite;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: scale(0.9) rotate(24deg);
    z-index: -2;
    filter: blur(-1px);
  }
  @-webkit-keyframes raise5 {
    to {
      bottom: 150vh;
      transform: scale(0.9) rotate(118deg);
    }
  }
  @keyframes raise5 {
    to {
      bottom: 150vh;
      transform: scale(0.9) rotate(118deg);
    }
  }
  
  .svg:nth-child(6) {
    left: 36%;
    -webkit-animation: raise6 19s linear infinite;
            animation: raise6 19s linear infinite;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: scale(1.2) rotate(285deg);
    z-index: -1;
    filter: blur(0px);
  }
  @-webkit-keyframes raise6 {
    to {
      bottom: 150vh;
      transform: scale(1.2) rotate(293deg);
    }
  }
  @keyframes raise6 {
    to {
      bottom: 150vh;
      transform: scale(1.2) rotate(293deg);
    }
  }
  
  .svg:nth-child(7) {
    left: 57%;
    -webkit-animation: raise7 9s linear infinite;
            animation: raise7 9s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(1.5) rotate(214deg);
    z-index: 0;
    filter: blur(1px);
  }
  @-webkit-keyframes raise7 {
    to {
      bottom: 150vh;
      transform: scale(1.5) rotate(171deg);
    }
  }
  @keyframes raise7 {
    to {
      bottom: 150vh;
      transform: scale(1.5) rotate(171deg);
    }
  }
  
  .svg:nth-child(8) {
    left: 91%;
    -webkit-animation: raise8 20s linear infinite;
            animation: raise8 20s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    transform: scale(1.8) rotate(173deg);
    z-index: 1;
    filter: blur(2px);
  }
  @-webkit-keyframes raise8 {
    to {
      bottom: 150vh;
      transform: scale(1.8) rotate(3deg);
    }
  }
  @keyframes raise8 {
    to {
      bottom: 150vh;
      transform: scale(1.8) rotate(3deg);
    }
  }
  
  .svg:nth-child(9) {
    left: 83%;
    -webkit-animation: raise9 9s linear infinite;
            animation: raise9 9s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(2.1) rotate(114deg);
    z-index: 2;
    filter: blur(3px);
  }
  @-webkit-keyframes raise9 {
    to {
      bottom: 150vh;
      transform: scale(2.1) rotate(189deg);
    }
  }
  @keyframes raise9 {
    to {
      bottom: 150vh;
      transform: scale(2.1) rotate(189deg);
    }
  }
  
  .svg:nth-child(10) {
    left: 15%;
    -webkit-animation: raise10 10s linear infinite;
            animation: raise10 10s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(2.4) rotate(11deg);
    z-index: 3;
    filter: blur(4px);
  }
  @-webkit-keyframes raise10 {
    to {
      bottom: 150vh;
      transform: scale(2.4) rotate(236deg);
    }
  }
  @keyframes raise10 {
    to {
      bottom: 150vh;
      transform: scale(2.4) rotate(236deg);
    }
  }