[data-tooltip] {
    position: relative;
   }
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute;
    width: 300px; /* Ширина подсказки */
    left: 0; top: -1em; /* Положение подсказки */
    background: #E4DEEA;
    color: #fff;
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    z-index: 1;
    border-radius: 30px;
   } 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -1em;
    left: 4em; /* Положение подсказки */
    z-index: 1;
    border-radius: 30px;
   }
.notifications {
    font-size: 150%;
    font-family: 'TTNorms-Medium';
    padding: 0;
    margin: 0;
}